@import '../../assets/styles/variables.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: nth($black, 1);
	height: 104px;

	.center {
		max-width: 1320px;
		width: 100%;

		display: grid;
		grid-template-columns: 32px minmax(200px, 456px) repeat(3, auto);
		column-gap: 90px;
		align-items: center;

		> svg {
			min-width: 40px;
			min-height: 40px;
		}

		.form,
		a,
		.profile {
			display: flex;
			align-items: center;
		}

		.form {
			max-width: 456px;
			width: 100%;

			background-color: nth($black, 3);

			input {
				width: 100%;

				background-color: transparent;
				border: 0;

				font-size: 1rem;
				padding: 1rem 0.8125rem;
				outline: none;

				&::placeholder {
					color: rgba(nth($colorDefault, 1), 0.8);
				}
			}

			button {
				background-color: transparent;
				border: 0;
				outline: none;
				cursor: pointer;
				margin-right: 1.875rem;

				&:focus-visible {
					border: 1px solid #fff;
				}
			}
		}

		a {
			svg {
				margin-right: 12px;
			}

			&:first-of-type {
				margin-right: 45px;
			}
		}

		.profile {
			p {
				font-size: 16px;
				color: nth($colorDefault, 1);
				min-width: fit-content;
			}

			.userAvatar {
				width: 56px;
				height: 56px;
				background-color: #ccc;
				margin-left: 8px;
				border: 3px solid #fff;
				border-radius: 8px;
			}
		}
	}
}
