@import './variables.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: nth($black, 2);
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: nth($colorDefault, 1);
}

a {
	text-decoration: none;
	color: nth($colorDefault, 1);
}

input {
	color: nth($colorDefault, 1);
}

a,
input,
button,
::placeholder {
	font-family: 'Manrope', sans-serif;
}
