$colorDefault: #fdfdfd;
$colorPurple: #eee6ff;
$colorBlack: #0f0915;
$colorGold: #fbcd6e;
$pink: #e183c8 #ffc8f0 #f294d8;
$white: #ffffff, #eee6ff;
$black: #0f1c26 #1d2226 #171b1e #0f0915 #0b1217;
$purple: #a785ed, #866db9;
